/* --- Fonts --- */
@import url(fonts/font-mfizz-2.4.1/font-mfizz.css);

/* --- Components design --- */
@import url(components/avatar.css);
@import url(components/button.css);
@import url(components/card.css);
@import url(components/container.css);
@import url(components/list-inline.css);

/* --- Main Style --- */
body {
  background: #494949;
  color: #f4f4f4;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, a {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  margin: 0.3em;
}

h2 {
  color: black;
  font-size: 30px;
}

h3 {
  font-size: 35px;
}