.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF0000;
  transition: background 0.3s ease;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.btn-flat:hover {
  background: #CC0000;
  color: white;
}