.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-card {
  max-width: 75%;
  background-color: #f4f4f4;
  padding-bottom: 1em;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin: 1em auto;
  text-align: center;
}

.project-card img {
  max-width: 100%;
}